@import "tailwindcss";

body {
  @apply min-h-screen bg-gradient-to-br from-[#EDF1D6] to-[#40513B] scroll-smooth text-[#40513B];
}

#root {
  @apply max-w-7xl mx-auto px-8 text-center;
  color: inherit;
}

::-webkit-scrollbar {
  @apply w-2 bg-[#40513B];
}
::-webkit-scrollbar-thumb {
  @apply bg-[#609966] rounded;
}

.logo {
  @apply h-24 p-6 transition-[filter] duration-300;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #609966aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #9DC08Baa);
}

@keyframes logo-spin {
  from { transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  @apply p-8 shadow rounded-2xl ;
}

.read-the-docs {
  color: #609966;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"],
input[type="search"] {
  @apply bg-[#EDF1D6] border-2 border-[#40513B] text-[#40513B] px-4 py-2 rounded mb-4 outline-none transition-all duration-200 shadow-sm cursor-pointer;
}
input:focus {
  @apply border-[#609966] bg-white ring-2 ring-[#9DC08B];
}

.btn-main {
  @apply rounded-lg px-4 py-2 font-semibold transition-colors duration-200 border border-[#609966] bg-[#609966] text-[#EDF1D6];
}
.btn-main:hover, .btn-main:focus {
  @apply bg-[#5bb042] text-[#EDF1D6] border-[#40513B];
}

.btn-outline {
  @apply rounded-lg px-4 py-2 font-semibold transition-colors duration-200 border border-[#609966] bg-[#9DC08B] text-[#40513B];
}
.btn-outline:hover, .btn-outline:focus {
  @apply bg-[#609966] text-[#EDF1D6] border-[#609966];
}

.input-main {
  @apply border-2 border-[#609966] rounded px-4 py-2 mb-4 outline-none transition-all duration-200 bg-[#EDF1D6] text-[#40513B];
}
.input-main:focus {
  @apply border-[#40513B] bg-white ring-2 ring-[#9DC08B];
}
.select-main {
  @apply rounded px-4 py-2 border-2 border-[#40513B] bg-[#9DC08B] text-[#40513B] transition-colors duration-200;
}
.select-main:focus, .select-main:hover {
  @apply bg-[#EDF1D6] text-[#40513B];
}

.shadow, .shadow-lg, .shadow-2xl {
  @apply shadow rounded-2xl;
}

.bg-dark {
  background-color: #40513B !important;
  color: #EDF1D6 !important;
}
.bg-accent {
  background-color: #609966 !important;
  color: #EDF1D6 !important;
}
.bg-orange {
  background-color: #9DC08B !important;
  color: #40513B !important;
}
.bg-bg {
  background-color: #EDF1D6 !important;
  color: #40513B !important;
}

.text-accent {
  color: #609966 !important;
}

